.mainLayout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.rightPanel {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* Your existing classes */
.homeWrapper {
  text-align: left;
}

.subtitle {
  margin: 10px 0;
  color: #555;
}

.createBtn {
  background-color: #d73da4;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.createBtn:hover {
  background-color: #f38ada;
}
