.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 15px;
   background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 24px;
}
input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
}
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
