.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 15px;
  background-color:  #f5f5f5;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border-radius: 12px;
  color: azure;
}

button {
    background-color: rgb(73, 24, 93);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
    background-color: #230824;
}
