.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  text-align: center;
  background-color: #aec0d2;
}

.nextBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #08203b;
  color: white;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nextBtn:hover {
  background-color: #2b5b80;
}
