.overlay {
  position: fixed;
  inset: 0;
  background: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  animation: pop 0.15s ease-out;
}

@keyframes pop {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: #1a171b;
}

.inputBox,
.dropdownBox {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  height: 42px;
  box-sizing: border-box;
}

.inputBox:focus,
.dropdownBox:focus {
  border-color: #d92bad;
}

.participantRow {
  display: flex;
  gap: 8px;
}

.participantName,
.participantValue {
  flex: 1;
}

.removeBtn {
  background: #ff3b3b;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.addParticipantBtn {
  margin-top: 10px;
  background: #f5e3ea;
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #d92b6e ;
  color: rgb(218, 32, 112);
  font-weight: bold;
  cursor: pointer;
}

.addParticipantBtn:hover {
  background: #a91e53;
  color: white;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelBtn {
  background: #999;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.submitBtn {
  background: linear-gradient(145deg, #d6387c, #831e4b);
  box-shadow: 
    2px 2px 4px rgba(230, 18, 110, 0.36),
    -2px -2px 4px rgba(131, 30, 75, 0.047);
  color: white;
  border: none;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}


.submitBtn:hover {
  opacity: 0.9;
}
