.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  backdrop-filter: blur(4px);
}

.modal {
  background: white;
  padding: 24px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.emailRow {
  display: flex;
  gap: 4px;
  margin-top: 10px;
}

.removeBtn {
  background: #f4c4c45a;
  border: none;
  padding: 6px 10px;
  border-radius: 12px;
  cursor: pointer;
  color: rgb(218, 7, 7);
  font-weight: 800;
}

.addEmailBtn {
  margin-top: 12px;
  background: #fcfcfc;
  color: rgb(213, 29, 130);
  padding: 12px 16px;
  border: 3.2px solid rgb(213, 29, 130)`;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}
.addEmailBtn:hover {
 background-color: #fac0dc;

}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.cancelBtn {
  background: #aeacac;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.createBtn {
  background: #490551;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.createBtn:hover {
  background: #9c1f53;
}
